In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [6]:
data = pd.read_csv('./../data/Example_bank_data.csv')

In [8]:
data.head()

   Unnamed: 0  duration    y
0           0       117   no
1           1       274  yes
2           2       167   no
3           3       686  yes
4           4       157   no

In [12]:
data['y'] = data['y'].map({'yes': 1, 'no': 0})
data.head()

   Unnamed: 0  duration  y
0           0       117  0
1           1       274  1
2           2       167  0
3           3       686  1
4           4       157  0

In [23]:
y = data['y']
xi = data[['Unnamed: 0', 'duration']]

In [25]:
x = sm.add_constant(xi)
result = sm.Logit(y, x).fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.545380
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      515
Method:                           MLE   Df Model:                            2
Date:                Thu, 16 Jan 2025   Pseudo R-squ.:                  0.2132
Time:                        08:28:09   Log-Likelihood:                -282.51
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                 5.723e-34
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.5642      0.245     -6.376      0.000      -2.045      -1.083
Unnamed: 0    -0.0006      0.001     -0.873      0.383      -0.002       0.001
duration       0.0052      0.001      9.142      0.000       0.004       0.006
==============================================================================
"""